body {
    display: flex;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #ffffff;
}

button,
nav {
    cursor: pointer;
}

img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

/* SIDEBAR *******************************************/
.sideBar {
    display: flex;
    flex-direction: column;
    text-align: left;
    min-width: 15vw;
    height: 100vh;
    background-color: #404040;
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 1.2rem;
}

.sidebarTitle {
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}

.sidebarTitle i {
    font-size: 1.7rem;
}

.misc {
    display: grid;
    grid-template-columns: 40px 100px;
    grid-template-rows: 30px 30px 30px;
    margin-top: 30px;
    margin-left: 20px;
}

.navTexts {
    display: grid;
    grid-template-columns: 30px 100px;
    grid-template-rows: 20px 20px;
    margin-top: 60px;
    margin-left: 20px;
    gap: 10px;
}


/* HEADER ****************************************/
.mainContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 30px;
    width: 85vw;
}

header {
    display: flex;
    flex-direction: column;
    max-width: 75vw;
    margin-top: 20px;
    margin-left: 30px;
    gap: 60px;
}

.headerBackground {
    background-color: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    height: 230px;
}

.searchBar {
    display: flex;
    justify-content: space-between;

}

.searchBar i {
    font-size: 1.5rem;
}

.searchBar input {
    border: none;
    height: 30px;
    background-color: #E2E8F0;
    width: 55vw;
    border-radius: 20px;
}

/* user *****************************/
.user {
    margin-top: -10px;
    display: flex;
    gap: 20px;
}

.user i {
    margin-top: 15px;
}

/* subhead user and btns ************** */
.subHead {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.helloContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 10px;
    height: 50px;
}

.helloContainer img {
    width: 90px;
    height: 90px;
    border-radius: 50px;
}

.hello {
    font-size: 1.4rem;
}

.mainBtn {
    display: flex;
    gap: 30px;
}

.mainBtn button {
    border: none;
    background-color: #F0B429;
    font-weight: bold;
    font-size: 1rem;
    color: white;
    border-radius: 20px;
    width: 100px;
    height: 40px;
}

/* MAIN CARDS ****************************************/

.cardsContainer {
    display: flex;
    margin-left: 30px;
    gap: 60px;
}


.yourProject {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: 10px 185px 185px 185px;
    gap: 30px;
}

.cardtitleProject {
    grid-column-start: 1;
    grid-column-end: 3;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.842);
    border-style: solid;
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-color: #F0B429;
    color: white;
    border-width: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.075);
}

/* CARDS CONTENT *************/
/* main *************/
.contentContainer {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    gap: 40px;
}

.contentContainer p,
.contentcontainerSide p {
    font-weight: bold;
    margin: 0
}

.cardContent,
.cardcontentSide {
    font-weight: lighter;
    text-align: left;
    font-size: 0.9rem;
}

.cardButton {
    display: flex;
    align-self: flex-end;
    font-size: 1.2rem;
    gap: 30px;
}

.cardButton i {
    cursor: pointer;
}

/* side *************/
.contentcontainerSide {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;

}

.cardcontentSide {
    overflow: hidden;
    text-overflow: ellipsis;

}

.userTrending {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.userInfo {
    align-self: center;
}

/*SIDE CARD COLUMN *************/
.sideColumn {
    display: grid;
    grid-template-columns: 350px;
    grid-template-rows: 10px 275px 10px 270px;
    gap: 30px;
}

.cardsideColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.075);
    border-width: 10px;
    border-radius: 10px;
}